<div class="navbar navbar-default">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" [routerLink]="['']">Anders@Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['hobby']">Hobbyprojekter!</a></li>
                    <li><a [routerLink]="['backup']">Backup!</a></li>
                    <li><a [routerLink]="['kontakt']">Kontakt!</a></li>
                </ul>
                <div class="navbar-header navbar-right">
                    <ul class="nav navbar-nav ">
                        <li>
                            <a [routerLink]="['login']" *ngIf="!authService.isAuthenticated()">Login!</a>
                            <a [routerLink]="['login']" *ngIf="authService.isAuthenticated()">Velkommen {{authService.currentUser.firstName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
